*{
    color: #2b2031;
    /* rgb(43,32,49) */
    color: #32243d;
    /* rgb(50,36,61) */
    color: #472360;
    /* rgb(71,35,96) */
    color: #705d97;
    /* rgb(112,93,151) */
    color: #a4add3;
    /* rgb(164,173,211) */
}
